#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=سوبيرات هيام
Exec=/opt/google/chrome/google-chrome --app=http://127.0.0.1:8000/
Icon=/home/aissamnedjar/Documents/Laravel/aissam/supermarket/public/icons/ms-icon-310x310.png
StartupWMClass=crx_mngloiodpbedloingimookgdhhkgcblo